body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
	--primary-text-color: #ffffff;
	--primary-background-color: #1b1b1b;
	--primary-color: #1b1b1b;
	--secondary-color: white;
	--red-color: #cc0202;
}

html,
body {
	height: 100%;
	margin: 0rem;
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
}
